{% extends 'base.html' %}

{% block title %}骨干网检测系统{% endblock %}

{% block content %}
    <div class="container">
        {% if message %}
            <div class="alert alert-warning">{{message}}</div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" align="center"><h3>骨干网测速系统</h3></div>
                </div>
            </div>
        </div>
        {% if userName %}
            欢迎：{{userName}}
        {% endif %}
    </div>
{% endblock %}