{% extends 'base.html'%}
{% block title %}login{% endblock %}

{% block content %}
    <div class="container">
        {% for message in messages %}<div class="alert alert-{{message.tags}}">{{message}}</div>{% endfor %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" align="center"><h3>登录骨干网检测系统</h3></div>
                </div>
            </div>
        </div>
        <form action="." method="POST">
            {% csrf_token %}
                <table>
                    {{login_form.as_table}}
                </table>
            <br/><input type="submit" value="submit"><br/>
        </form>
    </div>
{% endblock %}